In [2]:
import pandas as pd
import numpy as np

In [6]:
df_08 = pd.read_csv('08tstcar.csv')
df_18 = pd.read_csv('18tstcar.csv')

In [4]:
df_08.head()

,MDLYR_DT,VI_MFR_CD,VI_MFR_NM,GBE_INDX_NUM,OV_ID,VC_CNFG_NUM,CL_NM,CLS_TYP_CD,GBE_CID_MSR,GBE_PLC_IND_CD,...,TPF_DYN_TRK_A_MSR,TPF_DYN_TRK_B_MSR,TPF_DYN_TRK_C_MSR,TPF_EDYN_TRK_A_MSR,TPF_EDYN_TRK_B_MSR,TPF_EDYN_TRK_C_MSR,ENG_CD,EF_ID,VC_CYL_CNT,TPF_MFR_CSTDN_MSR
0,2008,20,Chrysler LLC,7,L6DR17260,9,RAM 1500 PICKUP 2WD,T,348,N,...,51.38,0.5715,0.03058,17.60,0.80780,0.02675,FA-700,8CRXT05.7PE0,8,16.32
1,2008,20,Chrysler LLC,7,L6DR17260,9,RAM 1500 PICKUP 2WD,T,348,N,...,51.38,0.5715,0.03058,17.60,0.80780,0.02675,FA-700,8CRXT05.7PE0,8,NaN
2,2008,20,Chrysler LLC,7,L6DR17260,8,RAM 1500 PICKUP 4WD,T,348,N,...,51.38,0.5715,0.03058,17.60,0.80780,0.02675,FA-900,8CRXT05.7PE0,8,16.32
3,2008,20,Chrysler LLC,7,L6DR17260,8,RAM 1500 PICKUP 4WD,T,348,N,...,51.38,0.5715,0.03058,17.60,0.80780,0.02675,FA-900,8CRXT05.7PE0,8,NaN
4,2008,20,Chrysler LLC,151,L7JKT9539,7,WRANGLER 2WD,T,231,N,...,33.68,0.9178,0.03235,16.84,0.18356,0.03235,FA-100,8CRXT03.8NE1,6,NaN

In [5]:
df_18.head()

,Model Year,Vehicle Manufacturer Name,Veh Mfr Code,Represented Test Veh Make,Represented Test Veh Model,Test Vehicle ID,Test Veh Configuration #,Test Veh Displacement (L),Actual Tested Testgroup,Vehicle Type,...,Set Coef A (lbf),Set Coef B (lbf/mph),Set Coef C (lbf/mph**2),Aftertreatment Device Cd,Aftertreatment Device Desc,Police - Emergency Vehicle?,Averaging Group ID,Averaging Weighting Factor,Averaging Method Cd,Averging Method Desc
0,2018,aston martin,ASX,Aston Martin,Rapide S,410TT4202,0,6.000,FASXV06.0VHB,Car,...,1.093,2.1980,0.028000,TWC,Three-way catalyst,N,NaN,NaN,N,No averaging
1,2018,aston martin,ASX,Aston Martin,Rapide S,410TT4202,0,6.000,FASXV06.0VHB,Car,...,1.093,2.1980,0.028000,TWC,Three-way catalyst,N,NaN,NaN,N,No averaging
2,2018,aston martin,ASX,Aston Martin,Vanquish,314TT3175,0,6.000,FASXV06.0VHB,Car,...,4.810,0.8940,0.014000,TWC,Three-way catalyst,N,NaN,NaN,N,No averaging
3,2018,aston martin,ASX,Aston Martin,Vanquish,314TT3175,0,6.000,FASXV06.0VHB,Car,...,4.810,0.8940,0.014000,TWC,Three-way catalyst,N,NaN,NaN,N,No averaging
4,2018,Bentley,BEX,BENTLEY,Continental GT,BY77623/13,0,5.998,DBEXV06.04UC,Car,...,7.614,-0.0083,0.020935,TWC,Three-way catalyst,N,NaN,NaN,N,No averaging

### Assessing
Use the space below to explore all_alpha_08.csv and all_alpha_18.csv to answer the quiz questions below

In [7]:
# number of samples in each dataset
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3015 entries, 0 to 3014
Data columns (total 51 columns):
MDLYR_DT              3015 non-null int64
VI_MFR_CD             3015 non-null int64
VI_MFR_NM             3015 non-null object
GBE_INDX_NUM          3015 non-null int64
OV_ID                 3015 non-null object
VC_CNFG_NUM           3015 non-null int64
CL_NM                 3015 non-null object
CLS_TYP_CD            3015 non-null object
GBE_CID_MSR           3015 non-null int64
GBE_PLC_IND_CD        3015 non-null object
VC_RTD_HP_MSR         3015 non-null int64
ECS_CD                0 non-null float64
ECS_CD_0              0 non-null float64
ECS_CD_1              0 non-null float64
ECS_CD_2              0 non-null float64
ECS_CD_3              0 non-null float64
EVCS_CD               2774 non-null float64
TRNS                  3015 non-null object
DRV_SYS_CD            3015 non-null object
TOD_CD                3015 non-null int64
VC_DSN_ETW_MSR        3015 non-null int64
VC_CMPRSN_RAT_MSR     3015 non-null float64
VC_AXLE_RAT_MSR       3015 non-null float64
VC_NV_RAT_MSR         3015 non-null float64
TPF_ACHP_IND_CD       3015 non-null object
TPF_DYNO_HP_MSR       294 non-null float64
SIL_CD                3015 non-null int64
TST_PRC_CD            3015 non-null int64
TST_PRPS_CD           3015 non-null int64
TST_NUM_ID            3015 non-null int64
Test Originator       3015 non-null object
VEH_FL_TYP_CD         3015 non-null int64
CH_CD                 3015 non-null object
AVRG_CD               207 non-null object
GT_WT_MSR             207 non-null float64
CMYT_HC_FE_MSR        2690 non-null float64
CMYT_CO_FE_MSR        2692 non-null float64
CMYT_CO2_FE_MSR       2692 non-null float64
CMYT_NOX_MSR          1355 non-null float64
CMYT_PM_MSR           17 non-null float64
GT_RND_ADJ_QTY        3015 non-null float64
TPF_DYN_TRK_A_MSR     3011 non-null float64
TPF_DYN_TRK_B_MSR     3011 non-null float64
TPF_DYN_TRK_C_MSR     3011 non-null float64
TPF_EDYN_TRK_A_MSR    3011 non-null float64
TPF_EDYN_TRK_B_MSR    3011 non-null float64
TPF_EDYN_TRK_C_MSR    3011 non-null float64
ENG_CD                3015 non-null object
EF_ID                 3015 non-null object
VC_CYL_CNT            3015 non-null int64
TPF_MFR_CSTDN_MSR     1737 non-null float64
dtypes: float64(24), int64(14), object(13)
memory usage: 1.2+ MB

In [8]:
# duplicate rows in each dataset
sum(df_08.duplicated())

0

In [ ]:
# Number of ROWS with a missing value
sum(df_08.apply(lambda x: sum(x.isnull().values), axis = 1)>0)

In [9]:
# datatypes of columns
type(df_08['Greenhouse Gas Score'][0])

In [11]:
# number of non-null unique values for features in each dataset
df_08.nunique()

In [12]:
# what those unique values are and counts for fuel types?
df_08['Fuel'].unique()

### 1. Drop extraneous columns
Drop features that aren't consistent (not present in both datasets) or aren't relevant to our questions. Use Pandas' drop function.

Columns to Drop:
* From 2008 dataset: 'Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'
* From 2018 dataset: 'Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'

In [ ]:
# drop columns from 2008 dataset
df_08.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'], axis=1, inplace=True)

# confirm changes
df_08.head(1)

### 2. Rename Columns

* Change the "Sales Area" column label in the 2008 dataset to "Cert Region" for consistency.
* Rename all column labels to replace spaces with underscores and convert everything to lowercase. (Underscores can be much easier work with in Python than spaces. For example, having spaces wouldn't allow you to use df.column_name instead of df['column_name'] to select columns or use query(). Being consistent with lowercase and underscores also helps make column names easy to remember.)

In [ ]:
# rename Sales Area to Cert Region
df_08.rename(columns = {'Sales Area':'Cert Region'}, inplace = True)

# confirm changes
df_08.head(1)

In [ ]:
# replace spaces with underscores and lowercase labels for 2008 dataset
df_08.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

# confirm changes
df_08.head(1)

In [ ]:
# confirm column labels for 2008 and 2018 datasets are identical
df_08.columns == df_18.columns

In [ ]:
# make sure they're all identical like this
(df_08.columns == df_18.columns).all()

In [ ]:
# save new datasets for next section
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)

## Filter, Drop Nulls, Dedupe

### 1. Filter
For consistency, only compare cars certified by California standards. Filter both datasets using query to select only rows where cert_region is CA. Then, drop the cert_region columns, since it will no longer provide any useful information (we'll know every value is 'CA').

In [ ]:
# filter datasets for rows following California standards

df_08 = df_08.query('cert_region == "CA" ')
df_18 = df_18.query('cert_region == "CA" ')

In [ ]:
# confirm only certification region is California
df_08['cert_region'].unique()
df_18['cert_region'].unique()

In [ ]:
# drop certification region columns form both datasets
df_08.drop('cert_region', axis=1, inplace=True)
df_18.drop('cert_region', axis=1, inplace=True)

### 2. Drop Nulls
Drop any rows in both datasets that contain missing values.

In [ ]:
# view missing value count for each feature in 2008
df_08.isnull().sum

In [ ]:
# view missing value count for each feature in 2008
df_18.isnull().sum

In [ ]:
# drop rows with any null values in both datasets
df_08.dropna(inplace=True)
df_18.dropna(inplace=True)

In [ ]:
# checks if any of columns in 2008 have null values - should print False
df_08.isnull().sum().any()

In [ ]:
# checks if any of columns in 2008 have null values - should print False
df_18.isnull().sum().any()

### 3. Dedupe
Drop any duplicate rows in both datasets.

In [ ]:
# print number of duplicates in 2008 and 2018 datasets
print(df_08.duplicated().sum())
print(df_18.duplicated().sum())

In [ ]:
# drop duplicates in both datasets
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

In [ ]:
# print number of duplicates again to confirm dedupe - should both be 0
print(df_08.duplicated().sum())
print(df_18.duplicated().sum())

In [ ]:
# save progress for the next section
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)

## Fixing Data Types
In the next three sections, you'll make the following changes to make the datatypes consistent and practical to work with.

### Fix cyl datatype
* 2008: extract int from string.
* 2018: convert float to int.

In [ ]:
# check value counts for the 2008 cyl column
df_08['cyl'].value_counts()

In [ ]:
# Extract int from strings in the 2008 cyl column
df_08['cyl'] = df_08['cyl'].str.extract('(\d+)').astype(int)

In [ ]:
# Check value counts for 2008 cyl column again to confirm the change
df_08['cyl'].value_counts()

In [ ]:
# convert 2018 cyl column to int
df_18['cyl'] = df_18['cyl'].astype(int)

In [ ]:
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)

### Fix air_pollution_score datatype
* 2008: convert string to float.
* 2018: convert int to float.

### Fix city_mpg, hwy_mpg, cmb_mpg datatypes
2008 and 2018: convert string to float.

### Fix greenhouse_gas_score datatype
2008: convert from float to int.